<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Amarante-Regular.ttf</string>
		<string>Brygada1918-Regular.ttf</string>
		<string>Brygada1918-SemiBold.ttf</string>
		<string>Bokor-Regular.ttf</string>
		<string>Asul-Bold.ttf</string>
		<string>Asul-Regular.ttf</string>
		<string>Belleza-Regular.ttf</string>
		<string>Buda-Light.ttf</string>
	</array>
</dict>
</plist>
